.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 0 6px;
}

.generator {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 6px;
    gap: 20px;

    h1 {
        font-family: Inter;
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;
        text-align: left;
    }
}

.settings {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 7px;

        input[type='checkbox'] {
            appearance: none;
            width: 16px;
            height: 16px;
            border: 2px solid #d1d1d1;
            border-radius: 4px;
            position: relative;
            cursor: pointer;
            outline: none;

            &:checked {
                background-color: #3b75a2;
                border-color: #3b75a2;

                &:hover {
                    background-color: #226496;
                    border-color: #226496;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 3px;
                    width: 4px;
                    height: 8px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }

            &:hover {
                border-color: #226496;
            }
        }
    }

    span {
        font-family: Inter;
        font-size: 15.38px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }
}

.btn {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: unset;
}

.length {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    width: 100%;
    gap: 4px !important;
    margin-bottom: 12px;

    input[type='number'] {
        width: 100%;
        padding: 14px 16px;
        border: 1px solid #D1D1D1;
        border-radius: 8px;
        color: #000000;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.94px;
        text-align: left;
    }
}

.result {
    flex-grow: 1;
    padding: 0 6px;

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        gap: 4px;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;

            border: 1px solid #00000021;
            padding: 2px 20px;

            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;

            color: #212529;

            button {
                display: flex;
                align-items: center;
                width: unset;
                height: unset;
                padding: 0;
                background: none;
                border: none;
                cursor: pointer;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}