.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.firstLetter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: #3B75A2;
    border-radius: 50%;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 13.5px;
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 16px 20px;
    width: 100%;

    nav {
        display: flex;
        gap: 40px;
    }

    a {
        font-size: 14px;
        font-weight: 600;
        line-height: 13.5px;
        text-align: left;
        color: #0D1421;

        &:hover {
            text-decoration: underline;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.name {
    display: flex;
    align-items: center;
    gap: 16px;

    span {
        color: #0D1421;
        font-size: 12px;
        font-weight: 600;
        line-height: 13.5px;
    }
}